body{

 margin-left:1.5cm;

 margin-right:2cm;

 margin-top:1.5cm;

 margin-bottom:2cm;

 font-family:Times New Roman;

 font-size:12px;

 text-align:justify;

}

p{
font-family:Times New Roman;
font-size:12px;
text-align:justify;
}

