body{

 margin-left:1cm;

 margin-right:1cm;

 margin-top:1cm;

 margin-bottom:2cm;

 font-family:Times New Roman;

 font-size:12px;

 text-align:justify;

}

#lista 

{

padding:0;

margin: 10px;

}

