./db/export_file/*.*
./db/import_file/*.*
./db/*.txt
./praticaweb/documenti/pe/*
./praticaweb/documenti/cdu/*
./praticaweb/documenti/vigi/
./praticaweb/documenti/ce/*
./praticaweb/debug/*
./praticaweb/documenti/anagrafe_tributaria.txt
config.local.php
